name: Python application

on: [push]

jobs:
  linux_test:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      env:
        DISPLAY: :99.0
      run: |
        sudo apt update
        sudo apt -y install libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev libsdl2-mixer-dev
        sudo apt-get -y install python3-setuptools build-essential libgl1-mesa-dev libgles2-mesa-dev libsmpeg-dev libswscale-dev libavformat-dev libavcodec-dev libjpeg-dev libX11-dev libmtdev-dev
        python3 -m pip install --upgrade pip virtualenv wheel setuptools --user
        python3 -m pip install kivy trio pillow coveralls docutils PyInstaller https://github.com/matham/cplcom/archive/master.zip --user
        python3 -m pip install -e . --extra-index-url https://kivy-garden.github.io/simple/ --user
        /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1280x720x24 -ac +extension GLX
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        python3 -m pytest --cov=ceed --cov-report term --cov-report html ceed/tests/test_app/test_app_config.py
